<!DOCTYPE html>
<style>
    .container_site {
        background-color: #f1f2e4;
        width: 100vw;
        height: 100vh
    }

    .btn_layout {
        color: white !important;
        border-color: #d9a518 !important;
        background-color: orange !important;
        margin: 0px 5px;
    }

    .btn_layout:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        transition: all 0.3s;
     }

    a:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        transition: all 0.3s;
    }

</style>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Beer_Vendas</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="~/css/sb-admin-2.css" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/js/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <script src="~/js/jquery/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.js" integrity="sha512-f04GBpoqEZhbyjlRTuXeg8FIHDb+xfCJ0LVdqiN1fEl5B3jz3Z0SPe9IxDumOVdTeeXmKMcMJhb26VuGf1Laqw==" crossorigin="anonymous"></script>

</head>

<body>
    <div class="container_site">
        <header>
            <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom bg-gradient-unique shadow-sm">
                <div class="logo_beer rotate-n-15 text-white">
                    <i class="fas fa-beer" style="cursor: pointer;" onclick="location.href='@Url.Action("Index", "Home")'"></i>
                </div>
                <h5 class="my-0 mr-md-auto text-white text_unique" style="cursor: pointer;" onclick="location.href='@Url.Action("Index", "Home")'">Erlang Beer</h5>
                <nav class="my-2 my-md-0 mr-md-3">
                    @if (ViewBag.UserId == 0)
                    {
                        <a class="btn btn_layout" id="cadastro" data-toggle="modal" data-target="#modal_cadastro" href="#">Cadastre-se</a>
                        <a class="btn btn_layout" id="login" data-toggle="modal" data-target="#modal_login" href="#">Entrar</a>
                    }
                </nav>
                @if (ViewBag.UserId != 1)
                {
                    <a style="margin-right:20px;" id="carrinho" asp-action="Carrinho" asp-controller="Pedido"> <i class="fas fa-cart-arrow-down text-white" style="font-size:1.5em;"></i></a>

                }
                @if (ViewBag.UserId == 1)
                {
                    <a class="btn btn-outline-primary" style="margin-right: 10px;" onclick="location.href='@Url.Action("Home", "Usuario")'" href="#">Admin</a>
                }
                @if (ViewBag.UserId != 0)
                {
                    <a class="btn btn-outline-primary" id="logout" href="#">Logout</a>
                }
            </div>
        </header>

        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container text-center">
                &copy; 2020 - Erlang Beer - Todos os direitos reservados.
            </div>
        </footer>
    </div>


    <div class="modal fade" id="modal_cadastro" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Cadastro</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputNomeCadastro">Nome</label>
                                <input type="text" class="form-control" id="inputNomeCadastro">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputSobrenomeCadastro">Sobrenome</label>
                                <input type="text" class="form-control" id="inputSobrenomeCadastro">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmailCadastro">E-mail</label>
                            <input type="email" class="form-control" id="inputEmailCadastro" required="required">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputPasswordCadastro">Senha</label>
                                <input type="password" class="form-control" id="inputPasswordCadastro" required="required">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputConfirmCadastro">Confirmar Senha</label>
                                <input type="password" class="form-control" id="inputConfirmCadastro" required="required">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">Fechar</button>
                            <button type="submit" class="btn btn-primary" id="confirmModalCadastro">Cadastrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <form asp-action="Login" asp-controller="Home" method="POST" data-ajax="true" data-ajax-update="modal_login" data-ajax-success="onSuccess">

        <div class="modal fade" id="modal_login" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Login</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="inputEmail">E-mail</label>
                            <input type="email" class="form-control" id="inputEmail" name="usu_email" required="required">
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <label for="inputPassword">Senha</label>
                                <input type="password" class="form-control" id="inputPassword" name="usu_senha" required="required">
                            </div>
                            <a href="#">Esqueci minha senha</a>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">Fechar</button>
                            <button type="submit" class="btn btn-primary" id="confirm_login">Entrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>

    <script src="~/js/jquery/jquery.js"></script>
    <script src="~/js/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/sweetalert2.all.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
<script>

    function onSuccess(Object) {
        if (Object.sucesso == true) {
            window.location.reload(true);
        }
        else {
            alert('teste');
        }
    }

    $('#logout').click(function () {
        deleteAllCookies();

        location.href = "https://localhost:44352/";
    });

    $('#carrinho').click(function () {
        var teste = getCookie(Usuario);
        alert(teste);
    })

    function deleteAllCookies() {
        var cookies = document.cookie.split(";");

        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i];
            var eqPos = cookie.indexOf("=");
            var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
            document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
        }
    }

    @*var ExibirLogin = @ViewBag.ExibirLogin;

    if (ExibirLogin == 'True') {
        $('#login').click(function () {
        });
    }*@

    $("#confirmModalCadastro").click(function () {
        var senha = $('#inputPassword').val();
        var senhaConfirm = $('#inputConfirm').val();
        if (senha != senhaConfirm) {
            alert("Senhas diferentes!");
            return
        }
    });
</script>

