@model Beer_Vendas.Models.Usuario;
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var produtos = ViewBag.Produtos.Result;
}
<style>
    .container img {
        max-width: 150px;
        max-height: 150px;
        width: auto;
        height: auto;
        top: 50%;
        left: 50%;
    }
</style>
<div class="container">
    <div class="card-deck mb-3 text-center row">
        @foreach (var item in produtos)
        {
            <div class="col-sm-3">
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">@item.pro_nome</h4>
                        <div style="margin-top:1em;">
                            <img src="data:image/jpeg;base64,@item.pro_imagem" />
                        </div>
                    </div>
                    <div class="card-body" id="headingOne">
                        <h1 class="card-title pricing-card-title"><small class="text-muted">R$ @item.pro_valor</small></h1>
                        <div>
                            <a type="button" href="@Url.Action("Index", new { id = item.pro_id })" class="btn btn-lg btn-block btn-outline-primary">Comprar</a>
                            <button type="button" data-toggle="collapse" data-target="#collapse_@item.pro_id" aria-expanded="true" aria-controls="collapse_@item.pro_id" class="btn btn-sm btn-block btn-outline-primary">Detalhes</button>
                        </div>
                        <div id="collapse_@item.pro_id" class="collapse" aria-labelledby="headingOne" data-parent="#headingOne">
                            <div class="card-body">
                                @item.pro_descricao
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">@item.pro_nome</h4>
                        <div style="margin-top:1em;">
                            <img src="data:image/jpeg;base64,@item.pro_imagem" />
                        </div>
                    </div>
                    <div class="card-body" id="headingOne">
                        <h1 class="card-title pricing-card-title"><small class="text-muted">R$ @item.pro_valor</small></h1>
                        <div>
                            <a type="button" href="@Url.Action("Index", new { id = item.pro_id })" class="btn btn-lg btn-block btn-outline-primary">Comprar</a>
                            <button type="button" data-toggle="collapse" data-target="#collapse_@item.pro_id" aria-expanded="true" aria-controls="collapse_@item.pro_id" class="btn btn-sm btn-block btn-outline-primary">Detalhes</button>
                        </div>
                        <div id="collapse_@item.pro_id" class="collapse" aria-labelledby="headingOne" data-parent="#headingOne">
                            <div class="card-body">
                                @item.pro_descricao
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">@item.pro_nome</h4>
                        <div style="margin-top:1em;">
                            <img src="data:image/jpeg;base64,@item.pro_imagem" />
                        </div>
                    </div>
                    <div class="card-body" id="headingOne">
                        <h1 class="card-title pricing-card-title"><small class="text-muted">R$ @item.pro_valor</small></h1>
                        <div>
                            <a type="button" href="@Url.Action("Index", new { id = item.pro_id })" class="btn btn-lg btn-block btn-outline-primary">Comprar</a>
                            <button type="button" data-toggle="collapse" data-target="#collapse_@item.pro_id" aria-expanded="true" aria-controls="collapse_@item.pro_id" class="btn btn-sm btn-block btn-outline-primary">Detalhes</button>
                        </div>
                        <div id="collapse_@item.pro_id" class="collapse" aria-labelledby="headingOne" data-parent="#headingOne">
                            <div class="card-body">
                                @item.pro_descricao
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">@item.pro_nome</h4>
                        <div style="margin-top:1em;">
                            <img src="data:image/jpeg;base64,@item.pro_imagem" />
                        </div>
                    </div>
                    <div class="card-body" id="headingOne">
                        <h1 class="card-title pricing-card-title"><small class="text-muted">R$ @item.pro_valor</small></h1>
                        <div>
                            <a type="button" href="@Url.Action("Index", new { id = item.pro_id })" class="btn btn-lg btn-block btn-outline-primary">Comprar</a>
                            <button type="button" data-toggle="collapse" data-target="#collapse_@item.pro_id" aria-expanded="true" aria-controls="collapse_@item.pro_id" class="btn btn-sm btn-block btn-outline-primary">Detalhes</button>
                        </div>
                        <div id="collapse_@item.pro_id" class="collapse" aria-labelledby="headingOne" data-parent="#headingOne">
                            <div class="card-body">
                                @item.pro_descricao
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>
<script>



</script>


