@model Beer_Vendas.Models.Produto;
@{
    ViewData["Title"] = "Produtos";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var produtos = ViewBag.Produtos;

}

<div class="grid-card">
    @foreach (var item in produtos)
    {
        <div class="card-beer">
            <div class="card-body-beer">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">@item.pro_nome</h4>
                    <div style="margin-top:1em;">
                        <img src="data:image/png;base64, @item.pro_imagem" />
                    </div>
                </div>
                <div class="card-body" id="headingOne">
                    <h1 class="card-title pricing-card-title"><small class="price-tag">R$ @(item.pro_valor)</small></h1>
                    <small><strong>Quantidade Disponível: 20</strong></small>
                    <div style="padding-top:0.5rem; padding-bottom:0.5rem">
                        <small>Comprar: </small>
                        <small class="inputComprar"><input class="number-@ViewBag.teste2" type="number" style="width:50%" value="1" /></small>
                    </div>
                    <div>
                        <button type="button" id="@ViewBag.teste2" href="@Url.Action("Index", new { id = item.pro_id })" class="btn btn-lg btn-block btn-success">Comprar</button>
                        <button type="button" data-toggle="collapse" data-target="#collapse_@item.pro_id" aria-expanded="true" aria-controls="collapse_@item.pro_id" class="btn btn-sm btn-block btn-primary">Detalhes</button>
                    </div>
                    <div id="collapse_@item.pro_id" class="collapse" aria-labelledby="headingOne" data-parent="#headingOne">
                        <div class="card-body">
                            @item.pro_descricao
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }   


</div>

<script src="~/js/sweetalert2.all.min.js"></script>
<script src="~/js/jquery/jquery.min.js"></script>

<script>

    function getCookie(cname) {
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }


    $('.btn-success').click(function () {
        $('.loader').show();
        var produto = $(this).attr('id');
        var classe = ''
        var classe = classe.concat('.number-' + produto);
        var quantidade = $(classe).val();
        var pivo = getCookie('produto');
        if (pivo != "") {
            pivo = pivo + ',';
        }
        document.cookie = 'produto=' + pivo + produto;
        var pivo2 = getCookie('quantidade');
        if (pivo2 != "") {
            pivo2 = pivo2 + ',';
        }
        document.cookie = 'quantidade=' + pivo2 + quantidade;
        setTimeout(function () {
            $('.loader').hide();
            Swal.fire({
                title: 'Produto adicionado no carrinho! Deseja continuar comprando?',
                showCancelButton: true,
                confirmButtonText: `Sim`,
                cancelButtonText: `Não`,
            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {
                    Swal.fire('Saved!', '', 'success')
                } else if (result.isDenied) {
                    window.location.href = "localhost:44352/Pedido/Carrinho";
                    Swal.fire('Changes are not saved', '', 'info')
                }
            });
        }, 3000);
    });


</script>


