@model Beer_Vendas.Models.Produto;
@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    var produtos = ViewBag.Produtos.Result;
}

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Listagem de Produtos</h1>
    </div>

    <div class="table-responsive">
        <table class="table table-sm table-bordered table-hover text-center datatable-custom" id="table-result">
            <thead class="thead-light">
                <tr class="bg-light">
                    <th class="align-middle">
                        #
                    </th>
                    <th class="align-middle">
                        Nome
                    </th>
                    <th class="align-middle">
                        Descrição
                    </th>
                    <th class="align-middle">
                        Valor R$
                    </th>
                    <th class="align-middle">
                        Quantidade
                    </th>
                    <th class="align-middle">
                        Ações
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in produtos)
                {
                    item.pro_valor = item.pro_valor.Replace(".", ",");

                    <tr data-codigo="@item.pro_id" data-ds="@item.pro_nome">
                        <td class="text-center active">
                            @item.pro_id
                        </td>
                        <td class="text-left">
                            @item.pro_nome
                        </td>
                        <td class="text-left">
                            @item.pro_descricao
                        </td>
                        <td class="text-center valor">
                            @(item.pro_valor)
                        </td>
                        <td class="text-center">
                            @item.pro_estoque
                        </td>
                        <td>
                            <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Ações <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="text-center">
                                    <a class="alterarStatus" style="cursor: pointer;"> Alterar Status</a>
                                    @*<a class="alterarStatus" data-descricao="@(item.DS_OBRA)" data-id="@(item.CD_OBRA)" data-status="@(item.X_FINALIZADO)" data-target="modalAlterar" style="cursor: pointer;"> Alterar Status</a>*@
                                </li>
                            </ul>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot></tfoot>
        </table>
    </div>

</div>
<script>

    $(document).ready(function () {
        $('.valor').text().replace(".", ",");
    });
    
</script>

